/* Shaodow Layer Box Classes */	
	div#drag_shadow_layer {
		position:absolute;		
		left: 0;
		top: 0;
		z-index:1;
	}
/*****************************************/	

/* Bars Classes */
	rect.bar1 {
		shape-rendering: crispEdges;
		fill: rgba(0,113,177,0.5);
	}
	rect.bar2 {
		shape-rendering: crispEdges;
		fill: rgba(64,128,64,0.5);
	}
	rect.hovered1 {
		stroke: green;
		stroke-width: 2;
	}
	rect.hovered2 {
		stroke: orange;
		stroke-width: 2;
	}
/******************************************/
	
/* Bar Chart Axis/Grid/Labels Classes */
	.axis {
		stroke: #999;
		stroke-width: 1;
		fill: none;
		shape-rendering: crispEdges;
	}
	.axis_labels {
		font-family: Arial;
		font-size: 14px;
		fill: #666;
		text-anchor: middle;
		font-weight: normal;
		text-rendering: optimize-legibility;
	}
	.axis_labels_vertical {
		font-family: Arial;
		font-size: 14px;
		fill: #666;		
		text-anchor: right;
		/*
		-webkit-transform-origin:0 0;
		-webkit-transform: rotate(10deg);
		*/
	}
	.grid {
		stroke-dasharray:1 6;
		stroke: #999;
		stroke-width: 1;			
		shape-rendering: crispEdges;
	}	
/*******************************************************/	

/* Info Pane Classes */
	.info_pane_box {
		fill: rgba(0,128,192,0);
	}

	.info_largeinfo {
		font-family: Helvetica;
		font-weight: bold;
		font-size: 20;
		fill: rgb(0,113,177);
	}

	.specialty_h1 {
		text-anchor: left;
		font-family: Helvetica;
		fill: #333;
		font-size: 17px;
		font-weight: bold;
		shape-rendering: crispEdges;
		text-rendering: optimize-legibility;
		text-transform: uppercase;
	}
	.info_h2 {
		text-anchor: middle;
		fill: #555;
		shape-rendering: crispEdges;
		font-family: Helvetica;
		font-size: 12;
		font-weight: bold;
		text-rendering: optimize-legibility;
	}
	.info_body {
		text-anchor: middle;
		fill: #555;
		font-family: Helvetica;
		font-size: 12;
		font-weight: normal;
		shape-rendering: crispEdges;
		text-rendering: optimize-legibility;
		overflow-wrap: break-word;
	}	
/******************************************************/

/* Drop Down Menu Classes */
	.selection_list {
		position: absolute; 
	    left: 25;
	    top: 600;
	}
	.selection_list select {
	    border: 1 solid;
	    border-color: #999;
	    font-family: tahoma;
	    font-size: 12px;
	    font-weight: normal;
	    padding: 1px 1px;
	    
	    height: 20px;
	    width: 200px;
	    background: transparent;
	}
	.drop_labels {
		font-family: Arial;
		font-size: 14px;
	}
/************************************************/

/* Comparison Pane Classes, IDs */
	.compare_pane_base {
		stroke: rgba(10,10,10,0.3);
		shape-rendering: crispEdges;
		stroke-width: 1;
	}

	div#compare_space {
		position:absolute;
		left: 50px;
		top: 640px;
	}

	div#compare_pane_div_1 {
		position:absolute;
		left: 5px;
		top: 0px;
		width: 340;
		height: 290;
	}
	div#compare_pane_div_2 {
		position:absolute;
		left: 355px;
		top: 0px;
		width: 340;
		height: 290;
	}
	div#compare_pane_div_3 {
		position:absolute;
		left: 705px;
		top: 0px;
		width: 340;
		height: 290;
	}	

	div#compare_pane_1_title {
		position:absolute;
		left: 55px;
		top: 5px;
		width: 340;
		height: 290;
	}
	div#compare_pane_2_title {
		position:absolute;
		left: 405px;
		top: 5px;
		width: 340;
		height: 290;
	}
	div#compare_pane_3_title {
		position:absolute;
		left: 755px;
		top: 5px;
		width: 340;
		height: 290;
	}
	body.pane_title {
		font-family: Arial;
		font-size: 14px;
		color: rgb(100,25,25);
		font-color: rgb(100,25,25);
		fill: rgb(100,25,25);
		stroke: rgb(100,25,25);
		text-rendering: optimize-legibility;
		top: 0;
		height: 20;
		position: absolute;
	}
	body.pane_body {
		font-family: Arial;
		font-size: 12px;
		text-rendering: optimize-legibility;		
		top: 25px;
		position: absolute;
	}
/*******************************************************/

/* Tooltip Classes */
	div#pop-up {
		display: none;
		position:absolute;
		color: black;
		font-size: 10px;
		padding: 15px 10px 15px 20px;
	}
	div#pop-up-title {
		fill: #555;
		font-family: Helvetica;
		font-size: 12;
		font-weight: normal;
		shape-rendering: crispEdges;
		text-rendering: optimize-legibility;
		word-wrap: break-word;	
		width:450px;
		margin-bottom: 4px;
	}
	div#pop-up-content {
		fill: #555;
		font-family: Helvetica;
		font-size: 10px;
		font-weight: normal;
		shape-rendering: crispEdges;
		text-rendering: optimize-legibility;
		word-wrap: break-word;		
		padding: 0px 0px 0px 0px;
	}
/*******************************************************/	
div#provider_pane {
	position: absolute;
	left: 1100;
	top: 15;
}
div#section_1_div {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}
div#section_2_div {
	position: absolute;
	left: 0;
	top: 30;
}
div#section_3_div {
	position: absolute;
	left: 0;
	top: 60;
}
body.section_1_title {
	font-family: Arial;
	font-size: 14px;
	color: rgb(100,25,25);
	font-color: rgb(100,25,25);
	fill: rgb(100,25,25);
	stroke: rgb(100,25,25);
	text-rendering: optimize-legibility;
	position: absolute;
	top: 0;
}
body.section_1_body {
	font-family: Arial;
	font-size: 14px;
	color: rgb(100,25,25);
	font-color: rgb(100,25,25);
	fill: rgb(100,25,25);
	stroke: rgb(100,25,25);
	text-rendering: optimize-legibility;
	position: absolute;
	width: 160;
	top: 20;
}
body.pane_body {
	font-family: Arial;
	font-size: 12px;
	text-rendering: optimize-legibility;		
	top: 25px;
	position: absolute;
}
.checkbox_on {
	fill: rgba(192,0,0,0.3);
	stroke-width: 0;
}
.checkbox_clicked {
	fill: rgba(192,0,0,0.3);
	stroke: rgba(192,0,0,0.5);
	stroke-width: 1;
}
tr.body {
	font-family: Arial;
	font-size: 11px;
	color: rgb(100,25,25);
	font-color: rgb(100,25,25);
	fill: rgb(100,25,25);
	stroke: rgb(100,25,25);
	text-rendering: optimize-legibility;

}