/* Color Scheme 
Black, Red
Blue
Orange, gray

Lucida Grande, Tahoma, Source Sans
"ff-tisa-web-pro-1","ff-tisa-web-pro-2",serif
Jibbering Background: #F6f6f6
Table of Contents: #002288
pre {
font-family: monospace;
background-color: #fFF9f9;
border: #bb7799 1px solid;
color: #440011;
font-size: 100%;
padding: 5px 5px 5px 10px;
}
*/
/* 3 Shades of Grey #333, #666, #999 */

body {
   font-family: Arial;
   font-size: 13px;
   shape-rendering: crispEdges;
}

a {
   /* color: #333; 
   color: #406584; */
   color: #002288;
   text-decoration: none;
}

a:hover {
   color: #af2b26;
   /* color: #CE4900; */
}

div.sidebar {
   font-family: Source Sans, Tahoma, sans-serif;
   width: 120px;
   height: 20px;
   
}

li.sidebar {
   list-style: none;
   padding-left: 6px;
   line-height: 20px;
   background: #e6e6e6;   
}

li.hover {  
   background: #333;
   color: #fff;
}

div.body {
   background: #FFFDF3;
   width: 900px;
   height: 100px;
   position: absolute;
   top: 50px;
   left: 135px;
}

div#reds_series1 {
   background: #E6CE9D;
   height: 20px;
   width: 20px;
}
div#reds_series2 {
   background: #D79B3B;
   height: 20px;
   width: 20px;
}
div#reds_series3 {
   background: #C06D63; 
   height: 20px;
   width: 20px;   
}
div#reds_series4 {
   background: #7C152A; 
   height: 20px;
   width: 20px;
}
div#header {
   height: 40px;
   width: 1024px;
   background: #A7C1D8;
}

div#graygreen_series1 {
   background: #E7E3DB;
   height: 20px;
   width: 20px;
}

div#graygreen_series2 {
   border: #C2C5BC 1px dotted;
   background: #E7EBDE;
   height: 20px;
   width: 20px;
}

