body { 
   margin: 0px 0px 0px 0px; 
   font-family: "Arial";
   font-size: 10px;
   text-anchor: left;
}
.n_circle, .f_circle {
   stroke-width: 1;
}
line.x_line {
   stroke-width: 1;
   stroke: rgba(96,96,96,0.75);
   shape-rendering: crispEdges;
}
.legend_txt {
   font-family: "Arial";
   font-size: 10px;
   text-anchor: middle;
   shape-rendering: crispEdges;
}
div#bubble_tooltip {
   margin: 0px 0px 0px 0px;
   padding: 2px 2px 2px 2px;
   border-bottom-style:solid;
   border-bottom-width: 1px;
   border-bottom-color: #d02027;
   background-color: rgba(255,255,255,0.8);
   height: 100px;
   width: 200px;
   position: absolute;
}

#bubble_tooltip span {
   font-weight: bold;
   font-size: 12px;
}

table#ttip_table {
   font-family: "Arial";
   font-size: 10px;
   text-anchor: left;
   shape-rendering: crispEdges;
}

.annotation {
   position: absolute;
   top: 300px;
   left: 100px;
   width: 200px;
   height: 150px;
}
div#arrow_horizontal {
   height: 2px;
   left: 10%;
   width: 80%;
   bottom: 95px;
   border-top-style: dotted;
   border-top-width: 1px;
   border-top-color: black;   
}
div#arrow_vertical {
   left: 50%;
   width: 50%;
   height: 90px;
   border-right-style: dotted;
   border-width: 1px;
   border-color: black;
}
